[2021-04-15 07:33] VesaJuvonen opened #1 "Repo name should be with capital P - super sensitive thing for community"
Just a note on the repo name which has one of the most classic typos on the product names... It's SharePoint, not Sharepoint... this will jump on every single community member eyes if it's not fixed.

[2021-04-16 22:34] traya1 commented on #1
Hi @VesaJuvonen,

Casing has been updated as requested. Closing the issue.

[2021-04-16 22:34] #1 closed

[2021-09-30 22:40] prattay56 opened #25 "Unable to hide Search bar in GCC tenants"
![image](https://user-images.githubusercontent.com/74849664/135539131-27a67ca4-b6e8-4bbd-9793-1ebcdd94c92c.png)

I think the core issue is with the Microsoft Search not being a part of GCC tenants yet.
 There is no Official documentation, I could find. NO RoadMap either.

Tried to activate the Microsoft search.
![image](https://user-images.githubusercontent.com/74849664/135539236-0a511057-3e55-414

[2021-10-01 12:59] asumner opened #27 "URL Link Error"
Hi, the link at the bottom of the page goes to the WRONG command...

 Approve-SPOTenantServicePrincipalPermissionRequest actually goes to the GRANT command instead

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ac67e24-831b-1c75-768a-599d3b0c1fa7
* Version Independent ID: 42d1adf7-2d91-89c9-4287-06a47b611fe8
* Content

[2021-10-01 13:09] asumner commented on #27
PLEASE IGNORE /  I clicked on the wrong feedback link, I'm now reporting on the correct one.

[2021-10-01 13:09] #27 closed

[2021-10-01 14:52] tseward commented on #25
This looks like the classic (i.e. pre-MSFT Search) bar. The MSFT Search Bar is in the SuiteNav. Are you simply looking to hide the bar? While technically not supported, you could go the SPFx route to use [the script editor webpart])https://github.com/pnp/sp-dev-fx-webparts/tree/main/samples/react-script-editor) to inject CSS onto the page to hide the search box.

[2021-10-04 22:29] prattay56 commented on #25
Used this script editor webpart in tenant and added the below code to hide the searchbox.

https://www.linkedin.com/pulse/add-custom-css-sharepoint-online-modern-pages-1-manjee-ee-mis

Code

**<style>
.ms-searchux-searchbox{display: none;}
</style>**

[2021-10-07 21:37] miguelisidoro opened #37 "[BUG] PreviewImageURL is not displaying when applying site template (Add-SPOSiteDesign or Set-SPOSiteDesign)"
Hello,

I tried to use Add-SPOSiteDesign to create a site design and it all works fine except for the PreviewImageURL, which is not set.
I then tried to update the site design using the script below:

Set-PnPSiteDesign -Identity <GUID> -PreviewImageURL "https://mytenant.sharepoint.com/SiteAssets/PreviewImage.png" but also without success.

I also tried to use PnP version without sucess.

Can you p

[2021-10-08 13:11] kstat opened #38 "Choices parameter doesn't exist, but is called out in Example"
There is no 'Choices' parameter for the PnP cmdlet, but some examples suggest it can be used to add a Choice field with some configured choice values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a81a73bf-5d6c-7d0c-5335-dfc1d47d82e1
* Version Independent ID: d5f44abf-9aa8-ace7-615e-2e493a3d6dd5
* Content: [Add-PnPFie

[2021-10-14 16:34] SquirrelAssassin opened #42 "notes"
Might want to call out that not all information is returned unless you call a particular site

$sites below will not return sharingalloweddomainlist information you have to call the site individually.

`$sites = Get-SPOSite -Detailed -Limit all
$array = @()
foreach ($site in $sites) {
    $details = $null
    $details = Get-SPOSite $site.url -Detailed
    $array += [pscustomobject] @{
        url

[2021-10-14 16:35] #42 closed

[2021-10-20 03:07] prattay56 commented on #25
@tseward  Any idea of how that can be achieved ?

[2021-10-21 07:01] yogkumgit commented on #25
@prattay56 Considering the nature of the issue, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the outcome or resolution with us if you see documentation update is required. We will certainly update this documentation with that val

[2021-11-02 10:18] SchmidSP opened #63 "Get-FileSensitivityLabelInfo wrong ProtectionEnabled status"
AIP Supported Filetypes (see: https://docs.microsoft.com/de-de/azure/information-protection/rms-client/clientv2-admin-guide-file-types) has wrong ProtectionEnabled Status.

See Example with vsdx and pdf

Example:
PS C:\Users\xx> Get-FileSensitivityLabelInfo -Fileurl "https://xxx/teams/Kunden-Info-Team/Freigegebene Dokumente/Kunden/2test.vsdx"

LabelId DisplayName ProtectionEnabled ParentLabelId
--

[2021-11-03 22:19] dstrome opened #67 "Test issue"
test

[2021-11-08 11:59] #67 closed

[2021-11-08 12:26] rainerasbach opened #71 "Add-SPDistributedCache has identical parameters for SP SE, SP 2019, SP 2016, but the article is scoped only for SPSE,"
Add-SPDistributedCache  has identical parameters for SP SE, SP 2019, SP 2016, but the article is scoped only for SPSE, please add SP 2019 and SP 2016 as additional product versions for this article.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1cfdc3ce-d41e-7110-94f0-158493149ab9
* Version Independent ID: 778d4ad6-de

[2021-11-08 15:17] tseward commented on #71
@WayneEwington this actually looks to be a systemic problem -- I checked a handful of cmdlets and they've all been changed to SPSE only, even though they apply to 2010+.

[2021-11-08 17:25] WayneEwington commented on #71
I'm not the owner of the on-premises PowerShell cmdlets. Adding @TroyStarr to investigate

[2021-11-09 00:24] TroyStarr commented on #71
Hey folks, this is by design.  We've split the SharePoint Server PowerShell cmdlet documentation into two separate repositories.  One repository is for [SharePoint Server Subscription Edition](https://docs.microsoft.com/powershell/module/sharepoint-server/?view=sharepoint-server-ps) (which we expect to evolve over time with additional cmdlets and parameters) and the other is for [SharePoint 2010 -

[2021-11-09 00:44] tseward commented on #71
@TroyStarr could we rephrase "Latest" to 2010-2019 or something akin to that? This is confusing.

![image](https://user-images.githubusercontent.com/7698997/140840951-bf0f5c1d-352f-414c-8d9b-01cd01149773.png)

[2021-11-09 00:45] TroyStarr commented on #71
Yep, agreed. :-)

[2021-11-11 14:10] zumiek opened #73 "Only works on classic pages"
This command only returns values if it's a classic page. It does not work on modern pages.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4fc6bb84-4cf7-157b-6a35-82493d0dcd05
* Version Independent ID: 9058c992-efb6-40fc-a6ee-e22fab1862af
* Content: [Get-PnPWebPart (PnP.Powershell)](https://docs.microsoft.com/en-us/powe

[2021-11-15 20:56] get-itips commented on #63
Hello @SchmidSP
How are you? Hope you are doing well.

I read your comment and I couldn't fully understand, would you mind specifying the article under OfficeDocs-SharePoint-PowerShell / https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/ that you think needs a correction?

Thank you!

[2021-11-15 20:58] get-itips commented on #73
Hello @zumiek

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-11-16 09:19] SchmidSP commented on #63
Hi,

in https://docs.microsoft.com/de-de/azure/information-protection/rms-client/clientv2-admin-guide-file-types)
supportet Filetypes are reportet (for example pdf).
But Powershell commands don't support this filetypes.

So you can change the docs article or give the powershell team a hint that they fix the powershell commands.

[2021-11-16 12:41] get-itips commented on #63
Hello @SchmidSP
Thanks for clarifying.
I assume there is a label applied for the .pdf file in your scenario.
I am not sure if the `Get-FileSensitivityLabelInfo` supports displaying the label for portable document format as the article for it mentions _office online files_, will try to check and return.

Thanks

[2021-11-16 12:43] get-itips commented on #71
Hello @TroyStarr Troy, are you able to make @tseward 's suggested change? Thanks for clarifying

[2021-11-16 13:15] TroyStarr commented on #71
Hi @get-itips, we're discussing our options with our PowerShell repo contacts. There are some complications because the SharePoint Server (2010 - 2019), SharePoint Online, and SharePoint PnP PowerShell articles are currently grouped together as the single "Latest" choice in the version selector. No ETA yet on when we'll have a solution for moving forward.

[2021-11-16 13:17] get-itips commented on #71
Thanks for the detailed update ;)

[2021-11-16 21:07] tiburd commented on #71
Because the appropriate team members are aware of this issue and are working on a solution, we're closing this issue.

Thank you, all!

[2021-11-16 21:07] #71 closed

[2021-11-16 21:09] tiburd commented on #73
Because this issue needs to be opened in a different repo, we're closing this issue.

Thank you!

[2021-11-16 21:09] #73 closed

[2021-11-17 16:32] SharePointBlackBelt opened #79 "Help collections in SharePoint Server 2019"
The article says is applies to SharePoint Server (doesn't indicate a specific version), but when I execute this PS on a SharePoint Server 2019 farm, it returns help collections for SharePoint 2010.

Get-SPHelpCollection

Title                                                    Name
-----                                                    ----
Central Administration Help

[2021-11-17 20:15] bsimser opened #81 "Remove-PnPFile does not support -WhatIf parameter"
Documentation says you can use -WhatIf as parameter. This is a good thing for any PowerShell cmdlet.

It's listed in the parameters but not in the syntax section. If you try to use it you get the error message:

`Remove-PnPFile : A parameter cannot be found that matches parameter named 'WhatIf'.`

It should either support it or remove it from the documentation.

[2021-11-22 17:17] MSGRRojas opened #83 "Invoke-PnPSiteTemplate issue in DoD"
Trying to get the Invoke-PnPSiteTemplate to work in DoD and getting the following error:

{"error_description":"Exception of type 'Microsoft.IdentityModel.Tokens.AudienceUriValidationFailedException' was thrown"}

Not sure how or why this is happening but we can't seem to apply a .pnp template

[2021-11-23 02:31] M365Bass opened #84 "Links still go to SharePointPnPPowerShellOnline instead of PnP.PowerShell"
Page links to installer for SharePointPnPPowerShellOnline (and other versions) instead of PnP.PowerShell. SharePointPnPPowerShellOnline has a message that it will be archived soon with no planned maintenance or updates and that you should switch to PnP.PowerShell.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e257652

[2021-11-23 03:42] taylorSteeleIntergen opened #85 "Set Managed Metadata Value Not Working"
Unable to set managed metadata value on document set.

The following code is not working as expected:
Set-PnPListItem -List "Shared Documents" -Identity $documentSet.FieldValues.ID -Values @{"BusinessUnit" = "$businessUnitGUID"}

BusinessUnit is a managed metadata column linked to a term set. The businessUnitGUID is fetched using another function.

No error is shown but the value is not set. I hav

[2021-11-23 07:07] yogkumgit commented on #63
@get-itips Thank you very much for the contribution and sharing this explanation. @SchmidSP Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-23 07:07] #63 closed

[2021-11-23 13:48] get-itips commented on #81
Hello @bsimser
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-11-23 13:49] get-itips commented on #83
Hello @MSGRRojas
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-11-23 13:49] get-itips commented on #84
Hello @M365Bass
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2021-11-23 13:49] get-itips commented on #85
Hello @taylorSteeleIntergen

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synce

[2021-11-23 14:27] get-itips commented on #79
Hello @SharePointBlackBelt Vincent, how are you?

That functionality is deprecated you can read more here https://docs.microsoft.com/en-us/sharepoint/what-s-new/what-s-deprecated-or-removed-from-sharepoint-server-2019#custom-help

All cmdlet articles had been updated in the applies to metadata, even though it is deprecated, as the cmdlet is still there.

Hope this information helps you,

[2021-11-24 12:19] yogkumgit commented on #79
@get-itips Thank you very much for the contribution and sharing this explanation. @SharePointBlackBelt Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:19] #79 closed

[2021-11-24 12:23] yogkumgit commented on #81
@get-itips Thank you very much for the contribution and sharing this explanation. @bsimser Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:24] #81 closed

[2021-11-24 12:25] yogkumgit commented on #83
@get-itips Thank you very much for the contribution and sharing this explanation. @MSGRRojas Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:25] #83 closed

[2021-11-24 12:27] yogkumgit commented on #84
@get-itips Thank you very much for the contribution and sharing this explanation. @M365Bass Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:27] #84 closed

[2021-11-24 12:28] yogkumgit commented on #85
@get-itips Thank you very much for the contribution and sharing this explanation. @taylorSteeleIntergen Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-11-24 12:29] #85 closed

[2021-11-29 14:08] ANovitsky opened #86 "Incorrect name for Get-PnPSubWeb - should be Get-PnPSubWebs"
Incorrect, should be **Get-PnPSubWebs** istead of **Get-PnPSubWeb**

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22863701-6bf5-05be-6815-af6110a03776
* Version Independent ID: f95f9ec3-d51b-a7f9-a65c-31974f5d5a1d
* Content: [Get-PnPSubWeb (PnP.Powershell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint

[2021-12-01 10:57] ykuijs opened #90 "Missing Certificate parameter for New-SPWebApplication"
With SharePoint Subscription Edition, New-SPWebApplication has a new Certificate parameter. Unfortunately the documentation is not yet updated to include this parameter:
https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/new-spwebapplication?view=sharepoint-server-ps

https://github.com/MicrosoftDocs/OfficeDocs-Sharepoint-PowerShell/blob/main/sharepoint/sharepoint-server-ps/share

[2021-12-02 14:53] djembeplayer opened #94 "Confirm Parameter"
The documentation should include an example of the confirm parameter syntax. I received many errors in my script, when typing:
"Revoke-SPOUserSession -User $User -confirm $false or "-confirm false" that stated:
Revoke-SPOUserSession : A positional parameter cannot be found that accepts argument 'False'.

What worked for me was:
-Confirm:$false

[https://docs.microsoft.com/en-us/powershell/module/s

[2021-12-03 02:45] TroyStarr commented on #90
Good catch, I believe this has already been fixed by #72.  Please take a look and let us know if you still have any concerns.  Thanks!

[2021-12-03 12:15] ykuijs commented on #90
Hi @TroyStarr, you are absolutely right. That PR has been merged 16 hours ago, which has updated the Docs pages.

So this issue is no longer relevant! Closing the issue

Thanks for the update!

[2021-12-03 12:15] #90 closed

[2021-12-03 17:48] mohrehm opened #96 "Typographical error"
There is a typographical error here.
'Retrieves' instead of 'Retries'
(https://docs.microsoft.com/en-us/powershell/module/sharepoint-pnp/get-pnpterm?view=sharepoint-ps#description)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1f40a8d9-6370-c6d6-1084-8d3c9fa590d1
* Version Independent ID: d5f61b47-0910-ce00-3fa3-7eeec

[2021-12-05 02:16] MelissaAE opened #99 "-Filter Parameter of Get-SPOSite"
The -Filter parameter of the Get-SPOSite cmdlet used in the SharePoint Online PS module isn't working.  It errors to: "The term '-Filter' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2021-12-06 16:49] get-itips commented on #86
Hello @ANovitsky
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2021-12-06 16:50] get-itips commented on #96
Hello @mohrehm
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that re

[2021-12-06 17:25] get-itips commented on #99
Hello @MelissaAE Melissa,

It works for me, what version of the Module are you using?

![image](https://user-images.githubusercontent.com/36666927/144892669-23b2996c-8cfe-4046-959e-8f19f4c067a5.png)

[2021-12-07 09:39] JAmler opened #101 "NonInteractive Mode"
Hello,

I'm trying to run this command via DevOps, so I have to run it in NonInteractive Mode. But the command opens like 4 windows, where I have to confirm, that I really want to run it. As neither the -confirm nor the -force parameter is integrated I can't find a way to run it without the failure:

Set-SPOTenant : Windows PowerShell is in NonInteractive mode. Read and Prompt functionality is not

[2021-12-07 13:12] yogkumgit commented on #86
@get-itips Thank you very much for the contribution and sharing this explanation. @ANovitsky Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 13:12] #86 closed

[2021-12-07 13:16] yogkumgit commented on #96
@get-itips Thank you very much for the contribution and sharing this explanation. @mohrehm Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-07 13:17] #96 closed

[2021-12-09 15:43] SharePointGuys opened #103 "Terrible documentation"
[Enter feedback here]
This is a terrible spec that is helpless. No many detailed explanations. Of course, people can argue this point.

For example, in this article, search the following sentence:
In the page For more information, type the following command: get-help about_commonparameters

Then go to PowerShell environment and type the following cmdlet:
get-help Disable-SPFeature -detailed

Exact

[2021-12-09 18:03] #94 closed

[2021-12-10 11:20] yogkumgit commented on #99
@get-itips Thank you very much for the contribution and sharing this explanation. @MelissaAE Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2021-12-10 11:20] #99 closed

[2021-12-12 01:35] tseward commented on #103
Remember that SharePoint pre-SE doesn't pick up cmdlet documentation from online -- what you see is what you get in-product, so the documentation here could be better than what you see when you run `get-help`.

With that said, yes this cmdlet doc needs improvement. For one, it should not use short hand in the example (i.e., it should not use `%`) and the `-Identity` description explicitly referenc

[2021-12-15 01:36] shnidi opened #109 "Add-PnPNavigationNode - EXAMPLE 6 - missing slash in url"
Add-PnPNavigationNode - EXAMPLE 6 - missing slash in url

This does not create a label:
[code]
It should be:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88eb5100-4508-3d09-7e6e-41aa3ce25b26
* Version Independent ID: 3e7b7949-0d2a-3569-ad41-72406a9e1ad8
* Content: [Add-PnPNavigationNode (PnP.Powershell)](https

[2021-12-22 15:38] michevnew opened #113 "DefaultLinkPermission value None"
Can you please clarify what None is supposed to mean for DefaultLinkPermission value? On a "fresh" tenant, with None showing in PowerShell, the UI displays a value of "Edit" instead, so I suppose we should assume that "Edit" is sort of a default value? I guess we can argue on the semantics of "default" here, but as Edit is the value pre-populated in the UI, it gets set automatically upon making an

[2021-12-29 15:56] get-itips commented on #101
Hello @JAmler what is the parameter that is asking you for confirmation?

[2021-12-29 17:02] get-itips commented on #113
Thanks for your feedback @michevnew

[2021-12-29 17:03] get-itips commented on #109
Hello, how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into

[2021-12-30 10:43] gavdgavd opened #119 "Remove-PnPPlannerBucket not working with BucketId and Identity parameters"
The given syntax:

Remove-PnPPlannerBucket
      -BucketId <String>
      -Identity <PlannerBucketPipeBind>
       [-WhatIf]
      [-Confirm]
      [<CommonParameters>]

doesn't work using these two parameters. Additionally, it makes no sense to use the BucketId and the Identifier at the same time.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2021-12-30 11:00] gavdgavd opened #120 "Title of add-pnpplannerbucket should be with capital initial letters"
To maintain a consequent style on all cmdlets, the title of "add-pnpplannerbucket" must be "Add-PnPPlannerBucket". Also in the Syntax section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02e13295-48e2-e58b-e291-cf82d77b4a5b
* Version Independent ID: 256a1c5e-2507-7c51-3157-cf32a4daba49
* Content: [add-pnpplannerbuck

[2021-12-30 11:03] gavdgavd opened #121 "Title of add-pnpplannertask should be with capital initial letters"
To maintain a consequent style on all cmdlets, the title of "add-pnpplannertask" must be "Add-PnPPlannerTask". Also in the Syntax section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4b9511d7-fb5f-e81a-a24a-728f26eac893
* Version Independent ID: 9a831540-4d39-adc6-64f3-d474e3bd4309
* Content: [add-pnpplannertask (Pn

[2021-12-30 11:10] gavdgavd opened #122 "Title of new-pnpplannerplan should be with capital initial letters"
To maintain a consequent style on all cmdlets, the title of "new-pnpplannerplan" must be "New-PnPPlannerPlan". Also in the Syntax section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7efd74fe-05eb-8a48-db56-5e6b34fec9a6
* Version Independent ID: 93b32d3f-e78f-d4d0-732b-a84f60ba5856
* Content: [new-pnpplannerplan (Pn

[2022-01-03 11:27] yogkumgit commented on #101
@JAmler reply.

[2022-01-03 11:33] yogkumgit commented on #109
@get-itips Thank you very much for the contribution and sharing this explanation. @shnidi Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-03 11:33] #109 closed

[2022-01-03 17:26] #103 closed

[2022-01-03 17:28] #113 closed

[2022-01-03 21:08] get-itips commented on #119
Hello @gavdgavd
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2022-01-03 21:08] get-itips commented on #120
Hello @gavdgavd

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that

[2022-01-03 21:09] get-itips commented on #121
Hello @gavdgavd
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2022-01-03 21:09] get-itips commented on #122
Hello @gavdgavd
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2022-01-04 09:21] yogkumgit commented on #119
@get-itips Thank you very much for the contribution and sharing this explanation. @gavdgavd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 09:21] #119 closed

[2022-01-04 09:22] yogkumgit commented on #120
@get-itips Thank you very much for the contribution and sharing this explanation. @gavdgavd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 09:22] #120 closed

[2022-01-04 09:24] yogkumgit commented on #121
@get-itips Thank you very much for the contribution and sharing this explanation. @gavdgavd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 09:24] #121 closed

[2022-01-04 09:26] yogkumgit commented on #122
@get-itips Thank you very much for the contribution and sharing this explanation. @gavdgavd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-04 09:26] #122 closed

[2022-01-10 10:26] AlexRademeyer opened #127 "-ArchiveUrl - what does archiving mean?"
What do you mean (technically) by "archive"?
Does archiving change or remove any content, permissions etc?
Any retention/ deletion policies? etc?

or is the content completely unchanged, just found at a different link?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b1c4fb8b-6cc5-4214-0d39-470a0d209282
* Version Indepen

[2022-01-10 16:21] WayneEwington commented on #127
The term "archive" in this context is that the content is completely unchanged and is just at a different URL location.

[2022-01-11 12:58] yogkumgit commented on #101
@get-itips Thank you very much for the contribution and digging deep into it.  @JAmler We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documenta

[2022-01-11 12:59] #101 closed

[2022-01-12 08:49] 2ndcahl opened #129 ""Tip"-section in top of all pages is shown in lists and makes them harder to navigate"
On the Cmdlet Reference page, all cmdlet are listed and shows the short description of each cmdlet.
Problem is that in this section there is also added a "Tip"-section, that shows up in the list. This tip is now shown in the list and makes it harder to read the list. Se attached screenshot.
Suggestion: For all cmdlet, remove the tip-section from all pages or move it to another part (like "Descript

[2022-01-13 13:44] zumiek opened #130 "Please make it clear that cmdlet does NOT work for managed metadata"
[Enter feedback here]

Doesn't work for managed metadata.
You should make that clear since the bug has been there since 2019...
https://github.com/pnp/PnP-PowerShell/issues/1978
https://github.com/pnp/powershell/issues/1110
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1700b68e-9656-c90e-26a1-3143d28af5fe
* Version Ind

[2022-01-14 22:44] jackpoz commented on #130
PR https://github.com/pnp/pnpframework/pull/576 fixes the issue of managed metadata case not working, making this issue obsolete once the PR gets merged and a new version on PnP Powershell is released

[2022-01-15 07:36] jarossnd opened #132 "Add GCC High and DoD clarity to to the Connect-SPOService article."
There is some confusion regarding this article with the `-region ITAR` parameter and value. It should be called out that ITAR should be used for GCC High and DoD tenants. Otherwise, standard GCC customers might attempt to use `-region ITAR` when it is actually for GCC High and DoD.

I also recommend adding an Example 4 to this article to illustrate how a GCC High or DoD customer would connect to t

[2022-01-17 19:00] pyoungberg opened #133 "Can't Only Change Title"
Article leads user to believe they can change the site URL, title, or both; however, when running the command it forces you to specify the value for -NewSiteUrl. So you're not able to run the command to change the site title, thereby leaving the url alone. Would be nice.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2022-01-19 00:33] chhaya-sharma9 commented on #133
Thanks for the feedback. The capability of Start-SPOSiteRename to rename a Site URL, is detailed in the public documentation here - https://docs.microsoft.com/en-us/sharepoint/change-site-address
You could change the site display name independently from the SPO Admin Center.

[2022-01-19 07:25] yogkumgit commented on #133
@pyoungberg Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-19 15:43] get-itips commented on #130
Hello @zumiek
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that rep

[2022-01-19 15:43] get-itips commented on #129
Hello,
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into

[2022-01-19 15:44] get-itips commented on #127
Thanks for the clarification @WayneEwington

[2022-01-19 20:48] get-itips commented on #132
Hello @jarossnd Jason, I am looking into this, thanks

[2022-01-20 06:27] yogkumgit commented on #130
@get-itips Thank you very much for the contribution and sharing this explanation. @jackpoz Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 06:28] #130 closed

[2022-01-20 06:29] yogkumgit commented on #129
@get-itips Thank you very much for the contribution and sharing this explanation. @2ndcahl Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 06:29] #129 closed

[2022-01-20 06:33] yogkumgit commented on #127
@get-itips Thank you very much for the contribution and confirming this explanation. @AlexRademeyer Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-01-20 06:33] #127 closed

[2022-01-20 21:24] robertcaretta opened #137 "Copy-PnPList - Source and Destination are different tenants"
Can this work between tenants?  For example TEST and PROD.
Can you provide an example of how that would work?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 21cd10ab-8c68-5739-2927-fb29a4c2619c
* Version Independent ID: b2c028f5-84e1-8bd8-39d7-92eadefdeaa0
* Content: [Copy-PnPList (PnP.Powershell)](https://docs.microso

[2022-01-20 21:26] robertcaretta commented on #137
Also example #4 on this page has a type with the variables.

[2022-01-23 09:15] prattay56 opened #138 "Unable to remove Labels from items in BATCH"
[code]

It would be very beneficial to batch remove labels.
Seems to be a parameter issue.
![image](https://user-images.githubusercontent.com/74849664/150671994-032de010-c456-4158-ab43-507e9fc441e5.png)

[2022-01-24 18:14] #132 closed

[2022-01-26 14:58] get-itips commented on #137
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into this on

[2022-01-26 14:58] #137 closed

[2022-01-26 14:59] get-itips commented on #138
Hello!

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into

[2022-01-26 14:59] #138 closed

[2022-01-27 13:45] jethas-bennettjones opened #143 "Name change in article."
"Office 365" should be changed to "Microsoft 365"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7eb69f85-4d46-5c34-c1d5-ce8477fd2080
* Version Independent ID: 3d67d725-4b26-0be2-8071-52e38d18f5f2
* Content: [Intro to SharePoint Online Management Shell](https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-

[2022-01-28 17:35] #133 closed

[2022-02-03 11:16] Chris-dot-net opened #149 "Feature registration for spfx solution not setting attributes properly"
Every App will be registered as Feature, but the title attribute from package-solution.json will be ignored. So if there is a need to remove the features w/o removing the app first, in some cases like spfx web part solutions there is no way to get the id in forehand.

This results in features (via get-pnpfeature) to have id and displayname identical.
![image](https://user-images.githubusercontent.

[2022-02-09 18:01] nicoride93 opened #153 "Using PnP.PowerShell"
Hello,

I downloaded the module, but when I try to connect, I got a warning that the module is being depreciated and should move to PnP.PowerShell. Is this possible to update the documentation on that?

Thanks
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e257652-6b19-287b-7f39-21c2a0909c09
* Ve

[2022-02-10 19:32] lipalath-ms opened #156 "Unable to run Connect-PnPOnline using Microsoft Service Account"
I created a non-people service account via https://coreidentity.microsoft.com/ last year. Because I forgot the password, I reset it and created a new password. When I try to run Connect-PnPOnline, I see an error "The sign-in name or password does not match one in the Microsoft account system". Why is that?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-02-11 14:26] get-itips commented on #149
Hello @Chris-dot-net

Can you please put here the URL of the article you opened the issue for?

Thank you

[2022-02-11 14:27] get-itips commented on #153
Hello!

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into

[2022-02-11 14:28] get-itips commented on #156
Hello!
how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that repo into

[2022-02-14 16:15] yogkumgit commented on #156
@get-itips Thank you very much for the contribution and sharing this explanation. @lipalath-ms Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-14 16:15] #156 closed

[2022-02-14 16:17] yogkumgit commented on #153
@get-itips Thank you very much for the contribution and sharing this explanation. @nicoride93 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-02-14 16:17] #153 closed

[2022-02-15 07:15] Bart-Hoofd opened #159 "SharePointPnPPowerShellOnline deprecated for Online use"
For use with SharePoint Online the repository SharePointPnPPowerShellOnline is deprecated, see https://pnp.github.io/powershell/.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e257652-6b19-287b-7f39-21c2a0909c09
* Version Independent ID: 10c59abb-83b5-1ae4-2008-0a53e9ca952e
* Content: [PnP PowerShell Overview](https:

[2022-02-20 13:04] yogkumgit commented on #149
@Chris-dot-net We appreciate any feedback that improves the content in the Microsoft docs but we haven't had any response from you so we are going to close this issue.
Please feel free to re-open this issue if you see an improvement is required in the specific area of this documentation. We will certainly update this documentation with that valuable information. Thanks again, for taking out some t

[2022-02-20 13:04] #149 closed

[2022-02-21 11:52] subhenduroy91 opened #161 "Please correct the format of the allowed list as it accepts comma as the delimiter instead of space as mentioned in the article."
[Enter feedback here]

The following should be the correct format:

-SharingAllowedDomainList
Specifies a list of email domains that is allowed for sharing with the external collaborators. Use the comma character as the delimiter for entering multiple values. For example, "contoso.com,fabrikam.com". Effective when SharingDomainRestrictionMode is set to AllowList.
---
#### Document Details

⚠ *Do n

[2022-02-25 14:46] ChristianJBergstrom opened #169 "Headline missing SPO in Unlock-SensitivityLabelEncryptedFile"
[Hi, please update

Unlock-SensitivityLabelEncryptedFile

To

Unlock-**SPO**SensitivityLabelEncryptedFile

And also under the Syntax headline.

Thanks! ]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3dfb9a14-a275-539b-3af3-600227eedfe7
* Version Independent ID: 9f6c1b4d-7130-1d4c-d623-39c4e4d98f13
* Content: [Unlock-

[2022-02-28 10:12] Peter-Wxin opened #170 "WARNING: Consider using -Interactive instead"
PowerShell
Connect-PnPOnline -Url https://yoursite.sharepoint.com -UseWebLogin

It prompts: "WARNING: Consider using -Interactive instead, which provides better functionality. See the documentation at https://pnp.github.io/powershell/cmdlets/Connect-PnPOnline.html#interactive-login-for-multi-factor-authentication" when running the command line. So which exactly do you recommend?

Thanks!

---
####

[2022-02-28 23:11] SharePointBlackBelt opened #171 "Example invalid"
What does the example in this article have to do with Get-SPEnterpriseSearchMetadataCrawledProperty?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60645b5d-fac6-4f02-1cd8-c76ceda53cdb
* Version Independent ID: acea67c9-6ea9-a577-510b-694f7d2e6f87
* Content: [Get-SPEnterpriseSearchMetadataCrawledP

[2022-03-02 13:15] iyoshim opened #172 "Example 6 is incorrect."
Example 6 is incorrect.
If the URL parameter is "http://linkless.header", it becomes a link. To make it a label, "http://linkless.header/" is correct.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 88eb5100-4508-3d09-7e6e-41aa3ce25b26
* Version Independent ID: 3e7b7949-0d2a-3569-ad41-72406a9e1ad8
* Content: [Add-PnPNav

[2022-03-03 19:53] get-itips commented on #159
Hello @Bart-Hoofd  how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article with your feedback.

The documentation for PnP cmdlets **is then synced from that repo into this one**.

Th

[2022-03-03 19:53] get-itips commented on #172
Hello @iyoshim

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from that r

[2022-03-03 20:15] get-itips commented on #171
Hello @SharePointBlackBelt how are you?

Just to confirm, do you refer to this example?

`$ssa = Get-SPEnterpriseSearchServiceApplication`

`$cat = Get-SPEnterpriseSearchMetadataCategory -SearchApplication $ssa -Identity People`

`Get-SPEnterpriseSearchMetadataCrawledProperty -SearchApplication $ssa -Category $cat -Limit 1`

I tested it and it does what the description says, please kindly let me k

[2022-03-03 20:16] get-itips commented on #170
Hello @Peter-Wxin

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from tha

[2022-03-03 20:20] get-itips commented on #169
Thanks for your feedback!

[2022-03-03 20:20] get-itips commented on #161
Hello @subhenduroy91

how are you?

Even though the PnP documentation articles are on this repository, I need to kindly redirect you to open PnP cmdlets issues/pull requests [here](https://github.com/PnP/PowerShell/), in that repository, where a member of the PnP community will be able to correct the article/review your PR with your feedback.

The documentation for PnP cmdlets is then synced from

[2022-03-03 23:05] SharePointBlackBelt commented on #171
Yes, you are right. I should have phrased this better... the problem is that it does not show what the crawled property mapping is, and the article doesn't mention how to get the mapping.
For example, running something like:
$ssa = Get-SPEnterpriseSearchServiceApplication
Get-SPEnterpriseSearchMetadataCrawledProperty -SearchApplication $ssa -Category $cat -Name ows_Proposal_x0020_Section
Returns:

[2022-03-03 23:57] get-itips commented on #171
Hello @SharePointBlackBelt Vincent,

I understand what you were looking for now, thanks.

Is this method, of the resulting CrawledProperty object, the mapping you are looking for?

https://docs.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/ms562672(v=office.14)

[2022-03-04 10:36] yogkumgit commented on #159
@get-itips Thank you very much for the contribution and sharing this explanation. @Bart-Hoofd Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 10:36] #159 closed

[2022-03-04 10:38] yogkumgit commented on #161
@get-itips Thank you very much for the contribution and sharing this explanation. @subhenduroy91 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 10:38] #161 closed

[2022-03-04 10:39] yogkumgit commented on #172
@get-itips Thank you very much for the contribution and sharing this explanation. @iyoshim Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-04 10:39] #172 closed

[2022-03-04 10:42] #170 closed

[2022-03-04 21:51] SharePointBlackBelt commented on #171
Oh yeah, that works. Thank you. Maybe this example, or one similar could be added to the article.
$crawledprop = Get-SPEnterpriseSearchMetadataCrawledProperty -SearchApplication $ssa -Category $cat -Name ows_Proposal_x0020_Section
$crawledprop.GetMappedManagedProperties()
Name                 PID      ManagedType  EnabledForScoping  EqualityMatchOnly
----                 ---      -----------  ----

[2022-03-04 22:02] get-itips commented on #171
@SharePointBlackBelt
Glad to hear Vincent.
Yes will propose to add an example in line with the first example.
Thank you

[2022-03-07 18:37] #169 closed

[2022-03-08 03:04] yogkumgit commented on #169
@get-itips Thank you very much for the contribution and updating the documentation with PR. @ChristianJBergstrom Hope this update is helpful for you. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-03-08 17:06] danmyhre opened #182 "Missing Details on Loop Sharing"
This needs details on the following parameters

OneDriveLoopSharingCapability
CoreLoopSharingCapability

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da2c76d9-43fd-c631-e6d4-69852b376444
* Version Independent ID: b8ae322e-d3a7-9759-8407-b20f7469cad7
* Content: [Set-SPOTenant (SharePointOnlinePowerShell)](https://docs.

[2022-03-17 16:24] MSGRRojas opened #188 "Referenced Module"
On the Connect-SPOService page (https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/connect-sposervice?view=sharepoint-ps) it refers to Module: SharePointOnlinePowerShell which links to (https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/?view=sharepoint-ps).
However, this is a bit misleading as typically when you're looking for a CMDLET, you see the required mod

[2022-03-24 18:24] jarossnd opened #197 "Update Set-SPOTenant to include OneDriveLoopSharingCapability"
We need documentation for:

`Set-SPOTenant -OneDriveLoopSharingCapability ExternalUserAndGuestSharing`

as described on the following article:

https://support.microsoft.com/en-us/office/enable-microsoft-whiteboard-for-your-organization-1caaa2e2-5c18-4bdf-b878-2d98f1da4b24

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2022-03-24 18:27] jarossnd commented on #197
This issue might be a duplicate of https://github.com/MicrosoftDocs/OfficeDocs-SharePoint-PowerShell/issues/182 which was opened > 2 weeks ago but no movement.

[2022-03-25 08:45] roggyuk opened #198 "Connect-sposervice is slow"
When running connect-sposervice with credentials stored in a variable its taking almost 2 minutes to connect.

[2022-03-29 04:35] yogkumgit commented on #182
Closing as duplicate of #197

[2022-03-29 04:35] #182 closed

[2022-03-29 20:04] get-itips commented on #198
Hello @roggyuk
How are you?
Even though, here, we are limited to **documentation** issues and fixes, I tested and connected in a couple of seconds, the best in your scenario would be to update to the latest version of the module and/or open a support ticket from your tenant.
Hope this information helps you!

@yogkumgit

[2022-03-29 20:04] #198 closed

[2022-03-30 12:28] get-itips commented on #197
Hello @jarossnd thanks for your feedback

[2022-04-02 12:52] Ofer-Gal opened #215 "Can't rename a site"
I issue the command:
[code]
And get error :"The Microsoft 365 group for https://ecgmcaz.sharepoint.com/teams/0100.009 couldn't be found"
So I try to set the 365 group with:
[code]
but get error Set-SPOSiteOffice365Group : This site already has an O365 Group attached.

How do I get out of the catch 22 ? :-)

[2022-04-05 18:40] #197 closed

[2022-04-07 13:53] ganlbarone opened #219 "Graph API 500 Internal error"
Hello,
I am using the below function to try and page through all SharePoint sites. The endpoint ignores top which is annoying, it seems to only return a max of 500 sites so that is what I set it to. Other than that the query is really rather basic, just return everything. The code then pages through until completion. I keep running into an internal server error and I am wondering how I can get hel

[2022-04-08 04:54] yogkumgit commented on #188
@get-itips Please update. Thanks

[2022-04-08 05:18] traya1 commented on #188
Hi @[yogkumgit](https://github.com/yogkumgit),

@get-itips reached out to me for assistance, I have not found a solution to the issue but am still looking into it.

[2022-04-08 22:16] get-itips commented on #219
Hello @ganlbarone
Here, we are limited to documentation fixes, is there any specific article under this repository that you feel needs a fix?
Your inquiry seems better suited for support, if you open a support request from your tenant, they might be able to help answer your inquiry. thank you

[2022-04-08 22:30] get-itips commented on #215
Hello @Ofer-Gal

How are you?

I noticed the domain part of the URL for NewSiteUrl in your example is different from the one in the error, was that a typo?

https://contoso.sharepoint.com/sites/projectx
to https://contoso.sharepoint.com/sites/projecty

https://docs.microsoft.com/en-US/sharepoint/change-site-address?WT.mc_id=365AdminCSH_spo

[2022-04-09 12:21] Ofer-Gal commented on #215
Good catch. thanks
at the end I could not create new one instead of the renamed one because we have a retention policy that does not allow deleting sites. (rename is delete for SPO, go figure)

[2022-04-11 13:39] get-itips commented on #215
@Ofer-Gal Thanks for returning and sharing your feedback!

[2022-04-11 13:39] #215 closed

[2022-04-13 04:14] yogkumgit commented on #219
@get-itips Thank you very much for the contribution and sharing this explanation. @ganlbarone Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-04-13 04:14] #219 closed

[2022-04-20 20:16] SakshiAdlakha opened #229 "In example 1 and 2 of Upgrade-SPSite the description is same. However in the Upgrade-SPSite https://<site name>/sites/testsite -VersionUpgrade it should be version to version upgrade."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4c2096ea-5309-70b0-849b-2aa2419504a6
* Version Independent ID: c5a7f49a-764c-e800-e9d2-54ccc0a515c6
* Content: [Upgrade-SPSite (SharePointServer)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-server/upgrade-spsite?view=sharepoint-ps&p

[2022-04-21 13:45] ahamin01 opened #230 "Enable-SPOCommSite not working"
Running the below command doesn't show any error, but it also doesn't convert the site completely into a Communication site. For example, page Full-Width section is missing, top navigation is still shown, and horizontal navigation is not in place. The only change is that a new homepage is created with one Full-Width section, but it's not possible to add additional Full-Width sections in this new h

[2022-04-26 22:11] aakash-shah opened #232 "PowerShell 7 Support"
Hello! It appears PowerShell 7 is not supported with the SharePoint PowerShell module. Please clarify on this page that PS v7 is not supported and an ETA as to when PSv7 support will be offered. The error I get when using PSv7 only is:
`Connect-SPOService: Could not load type 'System.Security.Cryptography.SHA256Cng' from assembly 'System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5

[2022-04-28 18:14] markuspelto opened #234 "OneDriveLoopSharingCapability missing vital info"
Documentation in this doc and in support article (https://support.microsoft.com/en-us/office/enable-microsoft-whiteboard-on-onedrive-for-business-2fae9707-0c9b-42f8-a85f-9628b698ac82) both state:

"If you have the external sharing for ODB allowed, no further action is required. **If you have external sharing disabled, you can leave it disabled** but you must enable this new setting.

Connect to Sh

[2022-04-29 11:36] MSGRRojas commented on #188
Thank you. Appreciate you all looking into this.

[2022-05-01 02:23] danmyhre opened #237 "Parameter incorrect"
-InformationSegment is not a valid parameter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 70048c8b-cd6e-b20a-b9e4-7e5ed781cc29
* Version Independent ID: 9cfa221c-259a-633d-e176-32ffc17e085e
* Content: [Get-SPOSite (SharePointOnlinePowerShell)](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/get-s

[2022-05-02 23:34] get-itips commented on #229
Thanks for your feedback @SakshiAdlakha

[2022-05-02 23:40] get-itips commented on #230
Hello @ahamin01 how are you? hope you are doing good
So I can reproduce to understand if we need to adjust documentation (we are limited only to documentation fixes), can you please confirm you have followed this requirements https://docs.microsoft.com/en-us/sharepoint/modernize-classic-team-site

Thank you

[2022-05-02 23:50] get-itips commented on #232
Hello @aakash-shah
You can see in this other article (same section) https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/introduction-sharepoint-online-management-shell that it is explained that the module is a Windows PowerShell module (5.1)

When support gets released for this other PS Version the article will be updated to reflect this.

Thank you,

[2022-05-02 23:50] #232 closed

[2022-05-03 00:09] get-itips commented on #234
Hello @markuspelto
How are you?
Do you refer to this error message?

`The SharingCapability set for this SPOSite will not take effect until the 'ExternalUserAndGuestSharing'
SharingCapability is also enabled on the SPOTenant.`

Thanks for clarifying

[2022-05-03 06:43] markuspelto commented on #234
Hi @get-itips !
Thanks great, how are you?

Yes, that is the one! Full error:

[code]

[2022-05-03 12:40] get-itips commented on #234
@markuspelto Markus, thanks, will check if something changed and if necessary a change to the doc

[2022-05-04 16:14] markuspelto commented on #234
Hello @get-itips!

I had the same results in my tests. It's just that the requirement to allow anonymous sharing in SPO tenant level is not mentioned anywhere.

I think it would be helpful to include it, so that you could scrap this idea without going in to testing and then scrap it, because of typical customer compliance requirements.

[2022-05-04 16:46] get-itips commented on #234
Hello @markuspelto
I'll propose to specify that, if it gets approval, it will be in the published version of the article.

[2022-05-04 16:49] markuspelto commented on #234
Hello @get-itips
Awesome, big thanks for your help!

[2022-05-05 20:32] #229 closed

[2022-05-06 15:14] #234 closed

[2022-05-16 12:45] get-itips commented on #230
@ahamin01 Hello, could you see my last comment here? Thanks

[2022-05-16 16:26] ahamin01 commented on #230
Hello @get-itips,

Yes, indeed. I followed that article and ensured that all the below points are met. I am even testing this on new sites, but with no hope

- The site template is STS#0
- The site is top-level site in the site collection.
- The user who runs the PowerShell cmdlet is a site collection admin and also tenant global admin.
- The SharePoint Server Publishing Infrastructure is not enab

[2022-05-16 17:46] get-itips commented on #230
Hello @ahamin01
Thanks for clarifying, in that case, as here we are limited to **documentation** changes and improvements, the best would be to open a support request from your tenant, support services will be able to help you in your specific scenario.
Thank you

[2022-05-17 03:23] yogkumgit commented on #230
@get-itips Thank you very much for the contribution and sharing this explanation. @ahamin01 Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the o

[2022-05-17 03:23] #230 closed

[2022-05-26 16:23] Mike-Crowley opened #250 "suggestion to reword DisableOutlookPSTVersionTrimming parameter description"
This paragraph discusses the DisableOutlookPSTVersionTrimming in the future-tense, which has had no effect for over 1 year.

In addition, people coming here to research the issue should be directed to a source that describes how this feature works or that this feature doesn't work, if there is a retention policy applied, which is a very common scenario.

[2022-05-27 13:21] ChristophHannappel opened #251 "Description Chapter of the `Get-SPSite` help the Property `SecondaryOwner` should be `SecondaryContact`"
In the Description Chapter of the `Get-SPSite` help the Property `SecondaryOwner` should be `SecondaryContact`
`Get-SPSite` throws an error when using `SecondaryOwner`

Current Text

Proposal:

These site collection properties are Owner, SecondaryContact, and LockState. The Filter parameter is a script block that uses the same syntax as a Where-Object statement, but is run on the server for faster

[2022-06-03 16:12] get-itips commented on #188
Looks like it is fixed now

[2022-06-03 21:10] #188 closed

[2022-06-09 09:08] yogkumgit commented on #237
@get-itips

[2022-06-09 09:09] yogkumgit commented on #250
@get-itips

[2022-06-09 09:09] yogkumgit commented on #251
@get-itips

[2022-06-09 12:58] get-itips commented on #237
Hello @danmyhre Dan, it's true, it is actually a property of the resultant object.

[2022-06-09 13:00] get-itips commented on #250
Hello @Mike-Crowley Mike, how are you?
Can you please include the link to the article you are talking about? Thanks

[2022-06-09 13:25] danmyhre commented on #237
yes, the result object has a property called InformationSegment, but the cmdlet does not have a parameter call **-InformationSegment**

This is about the **parameter**

Get-SPOSite : A parameter cannot be found that matches parameter name 'InformationSegment'.

[2022-06-09 13:35] get-itips commented on #237
@danmyhre Exactly, an edit is already on the way, thanks

[2022-06-09 19:34] Mike-Crowley commented on #250
https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/Set-SPOTenant?view=sharepoint-ps#parameters

[2022-06-13 12:34] #251 closed

[2022-06-14 15:48] #237 closed

[2022-06-14 16:02] #250 closed

[2022-06-28 13:29] PowershellScripts opened #270 "Cmdlet not available"
Is the cmdlet available in the current modules? It doesn't seem to be. Same for
Set-SPOStructuralNavigationCacheSiteState
Get-SPOStructuralNavigationCacheWebState
Get-SPOStructuralNavigationCacheSiteState

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 459ed4f3-05c3-a5e5-38a3-251d04bba58d
* Version Independent ID: 5210c

[2022-06-28 22:05] potluri96 opened #272 "Missing "Created From" property in Get-SPOSite"
Hello,

I realized in SharePoint Admin Center there is a field called "Created From" and i am unable to find an equivalent command that will help me output how the site was created. Is that feature not available in the SharePoint PowerShell Module?

<img width="137" alt="Screenshot 2022-06-28 170229" src="https://user-images.githubusercontent.com/66481275/176308153-f2738c9c-09e6-4689-99ab-bc8db73c

[2022-07-08 09:59] nicuberger opened #274 "Can't connect to SPOService anymore"
We can't connect to SharePoint Online with Powershell anymore .

Connect-SPOService: The sign-in name or password does not match one in the Microsoft account system.

Windows 11 Client
Module-Version 16.0.22615.12000
PS-Version 7.2.3

[2022-07-08 11:40] #274 closed

[2022-07-08 11:40] nicuberger commented on #274
It is only at our productiv tenant

[2022-07-11 20:58] get-itips commented on #270
Hello @PowershellScripts I could find the cmdlets in `16.0.22615.12000`

[2022-07-11 21:18] get-itips commented on #272
Hello @potluri96
Currently `Get-SPOSite` does not return this information.
Thanks

[2022-07-12 10:09] meta-l opened #275 "Example 2 - encourages people to put username and password in script"
Don't think this is a terribly good idea, as it shows that MS recommend in the second example to hardcode admin credentials in a script. Can we remove example 2 and maybe put a recommendation to not hardcode credentials?

[2022-07-14 06:00] yogkumgit commented on #270
@get-itips Thank you very much for the contribution and sharing this explanation. @PowershellScripts Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-14 06:01] #270 closed

[2022-07-14 06:02] yogkumgit commented on #272
@get-itips Thank you very much for the contribution and sharing this explanation. @potluri96 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-14 06:03] #272 closed

[2022-07-14 09:48] meta-l commented on #275
Sorry, assumed the comment would link automatically. My fault.

https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/connect-sposervice?view=sharepoint-ps

[2022-07-25 13:04] get-itips commented on #275
Hello @meta-l
How are you?
It is not a recommendation, just a valid example, for other cmdlets that also serve a connection, in the past, people asked for the alternative to specify credentials, I agree with you that I wouldn't prefer to use that, however it is still valid example and some people look for it, for specific purposes.

[2022-07-26 04:24] yogkumgit commented on #275
@get-itips Thank you very much for the contribution and sharing this explanation. @meta-l Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-07-26 04:24] #275 closed

[2022-08-04 09:27] jasonwbaxter opened #277 "Rename the example"
From :

New-SPPowerPointConversionServiceApplication -Name "MyWorkgroupPPTApp" -ApplicationPool "SharePoint Web Services Default"

To:

New-SPPowerPointConversionServiceApplication -Name "PowerPoint Conversion Service Application" -ApplicationPool "SharePoint Web Services Default"

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2022-08-04 09:28] jasonwbaxter opened #278 "Rename example"
From :

New-SPPowerPointConversionServiceApplication -Name "MyWorkgroupPPTApp" -ApplicationPool "SharePoint Web Services Default"

To:

New-SPPowerPointConversionServiceApplication -Name "PowerPoint Conversion Service Application" -ApplicationPool "SharePoint Web Services Default"

From:
New-SPPowerPointConversionServiceApplicationProxy -Name "PowerPoint Conversion Service Application Proxy" -Serv

[2022-08-04 12:16] #278 closed

[2022-08-08 23:23] JaredRic opened #281 "Get-SPOMalwareFileContent - Expand example to show how to save the file locally"
In its current form the documentation for Get-SPOMalwareFileContent shows the following examples:

$file = Get-SPOMalwareFile -FileUri "https://contoso.com/sites/Marketing/Shared Documents/Doc1.docx"
Get-SPOMalwareFileContent -MalwareInfectedFile $file

Running just this gives you the first byte of the stream and nothing else. Please add an example of saving the returned file stream to disk. This

[2022-08-10 08:24] kefujino opened #282 "Is Set-SPOSiteOffice365Group still not GA?"
Hello,

As far as I know, Set-SPOSiteOffice365Group has been available since about 2018.
However, the documentation states that it is still a preview and not supported for production use.

I believe the documentation is not fresh as the command works fine. Is this command still in preview now and not supported for use by production tenants?

![image](https://user-images.githubusercontent.com/13634

[2022-08-10 22:00] adamjacobsmsft opened #284 "SharePoint Module link is wrong/old"
SharePoint module download should link to https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint-online/connect-sharepoint-online

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51a2a070-5965-61d1-62e6-433fad2b5ecf
* Version Independent ID: d54bbe0a-37b6-a6f0-0b25-e931ac537d58
* Content: [Get started with the

[2022-08-11 14:43] get-itips commented on #277
Thanks for your feedback, will edit both the service application and proxy examples.

[2022-08-11 15:18] get-itips commented on #281
Hello @JaredRic I am looking into this.

[2022-08-15 05:56] yogkumgit commented on #282
@get-itips

[2022-08-15 17:19] #277 closed

[2022-08-16 12:15] get-itips commented on #282
@kefujino I am looking into this

[2022-08-17 14:10] JohnMark8080 opened #290 "The examples for connecting to SPO service didn't work, needed to specify the tenant administration site"
The guidance makes it seem that in my admin role I could connect directly to my site. I needed to specify the tenant admin site, like this:  `Connect-SPOService -Url https://siteNameHere-admin.sharepoint.com` as `Connect-SPOService -Url https://binaryfilter.sharepoint.com` produced an error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2022-08-18 20:36] ITAndy23 opened #292 "-Confirm does not work with Update-SPODataEncryptionPolicy"
Trying to automate `Update-SPODataEncryptionPolicy` when our key changes.
However, prompt asks "Are you sure you want to perform this action? (Y/N)" .
Adding `-Confirm:$False` does not perform the expected behavior.
Documentation shows it should work and bypass the prompt.
This is my line:
`Update-SPODataEncryptionPolicy -KeyVaultName $VaultName -KeyName $KeyName -KeyVersion $KeyVersion -KeyType P

[2022-08-19 18:31] #281 closed

[2022-08-25 15:54] get-itips commented on #290
Hello @JohnMark8080 Mark,
Every example uses a sample SharePoint Online Administration Center site and not a specific site.

[2022-08-25 15:57] get-itips commented on #284
Hello @adamjacobsmsft
The link you provided in the issue description is the same as the article you are opening the issue for.
Both link versions to download the SPO Shell are provided.

Can you please specify which link do you think is wrong? Thanks

[2022-08-25 16:49] get-itips commented on #292
Hello @ITAndy23 Andy, how are you?
We had reports of the same behavior for other cmdlets in the past, and we try to inform about this to the team so they resolve this.
Thanks for your feedback!

[2022-08-25 18:39] adamjacobsmsft commented on #284
Sorry, I sent the wrong page. This page https://docs.microsoft.com/en-us/microsoft-365/enterprise/connect-to-all-microsoft-365-services-in-a-single-windows-powershell-window?view=o365-worldwide tells you to go to https://go.microsoft.com/fwlink/p/?LinkId=255251 to download SharePoint PowerShell module, but instead it should point to https://docs.microsoft.com/en-us/powershell/sharepoint/sharepoint

[2022-08-25 20:12] get-itips commented on #284
@adamjacobsmsft Got it, it makes sense as the other modules in the bullet point go to similar pages, however, that article isn't in the repository you opened the issue for (OfficeDocs-SharePoint-PowerShell) I'll open a PR to edit the article in the other repository (microsoft-365-docs), if it is accepted and it gets merged, it will be reflected in the published version of the article.

[2022-08-26 04:33] yogkumgit commented on #290
@get-itips Thank you very much for the contribution and sharing this explanation. @JohnMark8080 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-26 04:33] #290 closed

[2022-08-26 04:41] yogkumgit commented on #292
@get-itips Thank you very much for the contribution and sharing this explanation. @ITAndy23 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-08-31 20:05] #282 closed

[2022-09-07 06:11] naizatan opened #307 "Update -OneDriveLoopSharingCapability to -AllowAnonymousMeetingParticipantsToAccessWhiteboards"
MC337624 states -OneDriveLoopSharingCapability has been replaced by -AllowAnonymousMeetingParticipantsToAccessWhiteboards. Is it possible to add the latter command/update the page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da2c76d9-43fd-c631-e6d4-69852b376444
* Version Independent ID: b8ae322e-d3a7-9759-8407-b20f7

[2022-09-10 08:46] Rajesh-Pradhan commented on #284
IRM Setting status is missing in Get-SPOTenant. Does anyone have any idea?

[2022-09-10 08:46] Rajesh-Pradhan opened #311 "IRM Setting status is missing in Get-SPOTenant"
IRM Setting status is missing in Get-SPOTenant. Does anyone have any idea?

[2022-09-11 06:21] oshihirii opened #312 "Clarification of process required for removing an organisation asset library"
I am trying to better understand how to remove an organisation asset library.

It seems to be a two-step process, involving:

 - [Remove-SPOOrgAssetsLibrary](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/remove-spoorgassetslibrary?view=sharepoint-ps)
 - [Remove-SPOTenantCdnOrigin](https://docs.microsoft.com/en-us/powershell/module/sharepoint-online/remove-spotenantcdnorigin?

[2022-09-11 06:52] oshihirii commented on #312
I'm just going to add some more research and a possible solution:

If you add an organisation asset library like this:
[code]

To remove it, you have to do this:
[code]
and then this:
[code]

[2022-09-13 20:10] get-itips commented on #307
Hello @naizatan
It seems I cannot access that MC anymore, can you share the text that states that?

I also checked and I see, both parameters in the latest version of Set-SPOTenant.

[2022-09-13 20:22] get-itips commented on #311
Hello @Rajesh-Pradhan
Here, we are limited to documentation issues and fixes, I think your inquiry is best suited for this other resource https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472

[2022-09-13 20:45] get-itips commented on #312
Hello @oshihirii
Thanks for your detailed feedback, I am digging into this.

[2022-09-14 01:25] naizatan commented on #307
Sure, here is the content:

Seems it's also already in Whiteboard docs: https://docs.microsoft.com/en-us/microsoft-365/whiteboard/manage-sharing-organizations?view=o365-worldwide

[2022-09-14 05:00] yogkumgit commented on #311
@Rajesh-Pradhan Thank you very much for your kind feedback. Considering your valuable feedback, please log this issue as advised. Here we are limited to documentation fixes and improvements only. Concerning team will evaluate and take the appropriate action, as per their schedule. We proceed here to close it. Thanks again for taking out some time and sharing your feedback.

[2022-09-14 05:00] #311 closed

[2022-09-15 13:00] get-itips commented on #307
Thanks @naizatan for adding more information

[2022-09-15 22:39] Noddy001 opened #317 "SPO management shell does not work on SharePoint Server"
Issue /Problem Description: SPO management shell does not work on SharePoint Server

User Affected: All

Business Impact: cannot use SPO management Shell on SharePoint Servers

Troubleshooting:
-	Ater installing SharePoint Management shell, when we try to import the module it ends up with below error.

Import-Module : Could not load type 'Microsoft.SharePoint.Client.Publishing.PortalLaunch.PortalL

[2022-09-16 15:50] #312 closed

[2022-09-21 04:36] naizatan commented on #307
@get-itips Thank you for the update. But I see that OneDriveLoopSharingCapability is still on the page, with similar descriptions to AllowAnonymousMeetingParticipantsToAccessWhiteboards. Is the former command still somehow applicable? e.g., is there any functionality of the former command that is not covered by the latter?

[2022-09-21 12:23] get-itips commented on #307
The parameter is still there in the cmdlet so we need to keep it in the article until it is removed.

[2022-09-21 12:23] #307 closed

[2022-09-21 13:55] altevid opened #321 "Deprecated parameter ?"
Hi
I'm using SharePoint Server 2019 and I think example 1 is not correct, the -ImportTrustCertificate parameter doesn't seem to exist anymore

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: bb3788dd-d7a4-8d25-4deb-8f47332272c2
* Version Independent ID: 17639ad6-3fda-d412-e6a7-899e2d7733b4
* Content: [Set-SPTrustedServi

[2022-09-26 19:20] ITAndy23 commented on #292
What was the fix for this?
Did the powershell command get fixed or the documentation was corrected/updated?
Thanks

[2022-09-27 00:00] #284 closed

[2022-09-27 12:16] yogkumgit commented on #292
@get-itips

[2022-09-27 13:03] get-itips commented on #292
Hello @ITAndy23 I managed to report this to the team.

[2022-09-27 13:03] #292 closed

[2022-10-07 17:38] get-itips commented on #317
Hello @Noddy001 I'll propose to add that to the note. Thanks

[2022-10-07 17:48] get-itips commented on #321
Hello @altevid thanks for your feedback!

[2022-10-10 16:24] Noddy001 commented on #317
@get-itips - I appreciate you taking out time to check this. Thank you very much.

[2022-10-11 16:07] get-itips commented on #317
Closing as the proposal to add this was not approved by reviewers.

[2022-10-11 17:47] #321 closed

[2022-10-11 19:57] Noddy001 commented on #317
@get-itips - did they give any reason why it cannot be added in article?

[2022-10-13 07:24] spg-iwilson opened #343 "Not supported in PowerShell 7"
[Enter feedback here]
Please add a note to indicate that this only works in Windows PowerShell and not Microsoft PowerShell. The page mentions "using PowerShell 5 or newer" which is confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 51a2a070-5965-61d1-62e6-433fad2b5ecf
* Version Independent ID: d54bbe0a-37b6-a6

[2022-10-13 18:00] marcdayton opened #344 "Invoke-SPOSiteDesign does not provision site columns in an existing list correctly"
I created a site design using Get-SPOSiteScriptFromWeb.

Get-SPOSiteScriptFromWeb -WebUrl $sourceUrl -IncludedLists ("Lists/ProjectTasks") -IncludeSiteExternalSharingCapability -IncludeBranding -IncludeTheme

I used Invoke-SPOSiteDesign -Identity 49beec38-1388-4432-893f-00ac4b56c789  -WebUrl $siteCollectionUrl
to apply the template.

The existing list Project Tasks is provisioned, but the site col

[2022-10-14 12:41] get-itips commented on #317
Hello @Noddy001

I found a use case where SPO Mgmt shell is required in an SP Server, which is this https://learn.microsoft.com/en-us/sharepoint/hybrid/configure-server-to-server-authentication#install-online-service-management-tools-and-configure-the-windows-powershell-window

So a note like the one you are proposing would conflict with it. Usually, when this kind of thing happens, we try to repo

[2022-10-15 21:18] RogerInomo opened #345 "Start-SPOTenantRename does not start"
SPOTenantRename changes after reaching the ScheduledDateTime from Queued to Suspended (without error) but does not start.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1ab64873-7703-065b-85b7-7924262f934a
* Version Independent ID: b06d3565-fa74-bc9b-5f3f-7bf7d238d1b6
* Content: [Start-SPOTenantRename (Microsoft.Onlin

[2022-10-17 11:07] yogkumgit commented on #317
@get-itips Thank you very much for the contribution and sharing this explanation. @Noddy001 Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-17 11:07] #317 closed

[2022-10-17 15:46] WayneEwington commented on #345
Please run the PowerShell cmdlet Get-SPOTenantRenameStatus. If the status is an error or suspended, then please contact Microsoft Support in order for them to investigate.

[2022-10-19 07:19] lafe opened #346 "Missing documentation for OnPrem PnP PowerShell"
The documentation folder for the "old" PnP PowerShell module (https://github.com/pnp/PnP-PowerShell/tree/master/Documentation) states that the documentation for this module has been moved to the Microsoft documentation and points to this site. This site does not have any documentation for that module but points to the documentation of the new module at https://pnp.github.io/powershell/articles/ind

[2022-10-19 12:15] yogkumgit commented on #345
@RogerInomo Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-20 00:03] get-itips commented on #343
Thanks for your feedback

[2022-10-20 00:13] get-itips commented on #344
Hello @marcdayton
Here, we are limited only to issues in documentation like typos or missing information.
For your inquiry the best would be to open a support request or [Microsoft Q&A](https://learn.microsoft.com/en-us/answers/index.html).

[2022-10-20 00:22] get-itips commented on #346
Hello @lafe I am looking into this

[2022-10-20 16:05] get-itips commented on #346
Hello @lafe Lars
I could get this information:

doc for PnP for SP Server cmdlets is still on the Get-Help <pnpcmdletname> in case you want to query them, as for the markdown https://github.com/pnp/PnP-PowerShell/tree/master/Documentation saying that the documentation is now on Docs, is unfortunately out of our scope to correct, but I notified the authors.

Hope this information helps you,

[2022-10-21 08:23] lafe commented on #346
Thank you for the feedback. In my opinion, it would be great if this information is mentioned on the page. Currently, there is no acknowledgement that there is a solution for the on Premises environments.

[2022-10-24 05:47] yogkumgit commented on #344
@get-itips Thank you very much for the contribution and sharing this explanation. @marcdayton Hope this comment is helpful for you. Considering the nature of the issue, as advised, please open a service ticket in your tenant and follow with them for the resolution. We proceed to close it as here we are limited to documentation fixes and improvements only.
We will be very happy if you can share the

[2022-10-24 05:48] yogkumgit commented on #346
@get-itips Thank you very much for the contribution and sharing this explanation. @lafe Hope this comment is helpful for you. If you see a documentation update is required, please feel free to open an issue for the same. We proceed here to close it. Thanks for taking out some time to open the issue. Appreciate and encourage you to do the same in future also.

[2022-10-24 05:48] #346 closed

[2022-10-24 15:27] #343 closed

[2022-10-25 05:57] yogkumgit commented on #344
@marcdayton As we are limited to documentation updates, we proceed here to close it. Thanks again for raising this issue.

[2022-10-25 05:57] #344 closed

[2022-10-25 06:03] yogkumgit commented on #345
@RogerInomo Thank you. You can initiate the PR any time you have more information about this topic, reviewers can review and approve the PR, if they find it suitable. We proceed to close the issue now.

[2022-10-25 06:03] #345 closed

[2022-11-14 22:25] saregbesola opened #352 "Parameter ShowOpenInDesktopOptionForSyncedFiles for Set-SPOTenant not available"
1. Is ShowOpenInDesktopOptionForSyncedFiles property removed from the Tenant level config settings? I can't get it whenever I run Get-SPOTenant commandlet, and I can't set a value for it either.

2. What is the purpose of this setting since we already have "open in app" option in the shortcut menu for a synched file?

https://learn.microsoft.com/en-us/powershell/module/sharepoint-online/set-spoten

[2022-11-16 14:35] DavidB1987 opened #353 "AuthenticationContextName value not being returned"
No values are retuned when executing following PowerShell script:
Connect-SPOService -Url _*value*_
Get-SPOSite -Limit ALL | Where {$_.AuthenticationContextName -like "_*value*_"}

A workaround throws 'error 429' after going through about 600 sites:
Connect-SPOService No values are retuned when executing following PowerShell script:
Connect-SPOService -Url _*value*_
Get-SPOSite -Limit ALL | Where{

[2022-11-17 22:26] arielpont opened #354 "Being able to create shortcuts between different site libraries"
By not being able to create direct access between libraries, the work becomes more complicated. For example, my organization is organized by areas and projects. The "Marketing" area needs to be able to add shortcuts to the folder where the project is located. The project is in the hands of another "Development" group. So far the only way is to create a link to the file using the share link. It is

[2022-11-21 03:32] ryley-bauer opened #355 "Lists and Library Formatting Issue"
For the included lists parameter, it needs to use SharePoint internal names on line 43. i.e. "Shared%20Documents"

line 43 should say:

-IncludedLists ("Shared%Documents", "Lists/Project%Activities")

[2022-11-21 16:23] smitz1 opened #358 "Modern Authentication"
We are moving all our scripts for automation away from basic authentication, The last one we have to change is using the SharePoint module, When will this be updated as December is fast approaching.

[2022-11-21 19:43] get-itips commented on #354
Hello @arielpont Ariel, how are you?
Here, we are limited to correct articles and documentation, for example typos, missing or wrong information.
For your inquiry, the best would be this other resource https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472

[2022-11-21 19:43] #354 closed

[2022-11-21 19:45] get-itips commented on #353
Hello @DavidB1987  how are you?
Here, we are limited to correct articles and documentation, for example typos, missing or wrong information.
For your inquiry, the best would be this other resource https://feedbackportal.microsoft.com/feedback/forum/06735c62-321c-ec11-b6e7-0022481f8472

[2022-11-21 20:49] get-itips commented on #352
Hello @saregbesola
How are you?
About question 2, do you mean that you are seeing the Open in App even if ShowOpenInDesktopOptionForSyncedFiles is false?

[2022-11-21 23:37] saregbesola commented on #352
@get-itips , yes and I know what purpose ShowOpenInDesktopOptionForSyncedFiles  serves now. The setting only enables open in app option for files that are not office documents e.g., PDF, text file, tiff etc. I will be closing this issue. Thanks

[2022-11-21 23:37] #352 closed

[2022-11-22 12:31] #353 closed